<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ProfessorServlet</servlet-name>
        <servlet-class>br.ufms.facom.progweb.sigschool.controller.ProfessorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoordenadorServlet</servlet-name>
        <servlet-class>br.ufms.facom.progweb.sigschool.controller.CoordenadorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponsavelServlet</servlet-name>
        <servlet-class>br.ufms.facom.progweb.sigschool.controller.ResponsavelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisciplinaServlet</servlet-name>
        <servlet-class>br.ufms.facom.progweb.sigschool.controller.DisciplinaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoordenadorTurmaServlet</servlet-name>
        <servlet-class>br.ufms.facom.progweb.sigschool.controller.CoordenadorTurmaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorDisciplinaServlet</servlet-name>
        <servlet-class>br.ufms.facom.progweb.sigschool.controller.ProfessorDisciplinaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlunoServlet</servlet-name>
        <servlet-class>br.ufms.facom.progweb.sigschool.controller.AlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TurmaServlet</servlet-name>
        <servlet-class>br.ufms.facom.progweb.sigschool.controller.TurmaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoricoNotasServlet</servlet-name>
        <servlet-class>br.ufms.facom.progweb.sigschool.controller.HistoricoNotasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoAvaliacaoServlet</servlet-name>
        <servlet-class>br.ufms.facom.progweb.sigschool.controller.TipoAvaliacaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoordenadorServlet</servlet-name>
        <url-pattern>/coordenador_Inicio</url-pattern>
        <url-pattern>/coordenador_Listar_coordenadores</url-pattern>
        <url-pattern>/coordenador_Cadastrar_coordenador</url-pattern>
        <url-pattern>/coordenador_Form</url-pattern>
        <url-pattern>/coordenador_Presentation</url-pattern>
        <url-pattern>/coordenador_Form_cadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponsavelServlet</servlet-name>
        <url-pattern>/responsavel_Inicio</url-pattern>
        <url-pattern>/responsavel_Listar_responsaveis</url-pattern>
        <url-pattern>/responsavel_Cadastrar_responsavel</url-pattern>
        <url-pattern>/responsavel_Form</url-pattern>
        <url-pattern>/responsavel_Form_cadastrar</url-pattern>
        <url-pattern>/responsavel_Presentation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoordenadorTurmaServlet</servlet-name>
        <url-pattern>/coordenadorTurma_Cadastrar_coordenadorTurma</url-pattern>
        <url-pattern>/coordenadorTurma_Form_cadastrar</url-pattern>
        <url-pattern>/coordenadorTurma_Listar_coordenadorTurmas</url-pattern>
        <url-pattern>/coordenadorTurma_Presentation</url-pattern>
        <url-pattern>/coordenadorTurma_Inicio</url-pattern>
        <url-pattern>/coordenadorTurma_Form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorDisciplinaServlet</servlet-name>
        <url-pattern>/professorDisciplina_Cadastrar_professorDisciplina</url-pattern>
        <url-pattern>/professorDisciplina_Form</url-pattern>
        <url-pattern>/professorDisciplina_Inicio</url-pattern>
        <url-pattern>/professorDisciplina_Form_cadastrar</url-pattern>
        <url-pattern>/professorDisciplina_Presentation</url-pattern>
        <url-pattern>/professorDisciplina_Listar_professorDisciplinas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlunoServlet</servlet-name>
        <url-pattern>/aluno_Inicio</url-pattern>
        <url-pattern>/aluno_Listar_alunos</url-pattern>
        <url-pattern>/aluno_Form_cadastrar</url-pattern>
        <url-pattern>/aluno_Presentation</url-pattern>
        <url-pattern>/aluno_Cadastrar_aluno</url-pattern>
        <url-pattern>/aluno_Form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TurmaServlet</servlet-name>
        <url-pattern>/turma_Inicio</url-pattern>
        <url-pattern>/turma_Form_cadastrar</url-pattern>
        <url-pattern>/turma_Presentation</url-pattern>
        <url-pattern>/turma_Cadastrar_turma</url-pattern>
        <url-pattern>/turma_Listar_turmas</url-pattern>
        <url-pattern>/turma_Form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisciplinaServlet</servlet-name>
        <url-pattern>/disciplina_Inicio</url-pattern>
        <url-pattern>/disciplina_Listar_disciplinas</url-pattern>
        <url-pattern>/disciplina_Form</url-pattern>
        <url-pattern>/disciplina_Form_cadastrar</url-pattern>
        <url-pattern>/disciplina_Cadastrar_disciplina</url-pattern>
        <url-pattern>/disciplina_Presentation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoricoNotasServlet</servlet-name>
        <url-pattern>/historicoNota_Cadastrar_historicoNota</url-pattern>
        <url-pattern>/historicoNota_Form</url-pattern>
        <url-pattern>/historicoNota_Form_cadastrar</url-pattern>
        <url-pattern>/historicoNota_Listar_historicoNotas</url-pattern>
        <url-pattern>/historicoNota_Inicio</url-pattern>
        <url-pattern>/historicoNota_Presentation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoAvaliacaoServlet</servlet-name>
        <url-pattern>/tipoAvaliacao_Listar_tipoAvaliacoes</url-pattern>
        <url-pattern>/tipoAvaliacao_Form_cadastrar</url-pattern>
        <url-pattern>/tipoAvaliacao_Presentation</url-pattern>
        <url-pattern>/tipoAvaliacao_Form</url-pattern>
        <url-pattern>/tipoAvaliacao_Inicio</url-pattern>
        <url-pattern>/tipoAvaliacao_Cadastrar_tipoAvaliacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorServlet</servlet-name>
        <url-pattern>/professor_Listar_professores</url-pattern>
        <url-pattern>/professor_Form_cadastrar</url-pattern>
        <url-pattern>/professor_Inicio</url-pattern>
        <url-pattern>/professor_Form</url-pattern>
        <url-pattern>/professor_Cadastrar_professor</url-pattern>
        <url-pattern>/professor_Presentation</url-pattern>
        <url-pattern>/professor_Form_editar</url-pattern>
        <url-pattern>/professor_Editar_professor</url-pattern>
        <url-pattern>/professor_Desativar_professor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
